* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 25%;
    height: 30%;
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse; /* Asegura que las celdas compartan los bordes */

}

td {
    text-align: center;
    border: 1px solid #ccc;
    font-size: 2rem;
    width: 50px;
    height: 50px;
}

td:hover {
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-right: 1rem;
    gap: 10px;
}

button {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #4591ee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

button:hover {
    background-color: #97c3e9;
    border: 1px solid #ffffff;
}