* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.container {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.card {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.card .players-container {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    gap: 10px;
    font-size: 1.5rem;
}

button {
    background-color: #4591ee;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #97c3e9;
    border: 1px solid #fff; 
}