* {
    padding: 10px;
    margin: 0;
}

#mensaje-escritura {
    font-family: 'Segoe UI Black', Courier, monospace; 
    white-space: nowrap;
    color: white;
    font-size: 30px;
    overflow: hidden;
    border-right: 5px solid #13171f;
    width: 0;
    animation: typing 5s steps(100) forwards, blink 0.75s step-end infinite;
    text-align: center;
    display: block;
    margin: 20px auto;
}

form input:focus{
    outline: none;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #13171f;
    }
}