* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 5px;
}

.editButton {
    visibility: hidden;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.parrafoEditable {
    background-color: white;
    width: 95%;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.parrafoEditable:hover {
    background-color: #d1d1d1;
}

textarea {
    padding: 5px;
    width: 95%;
    height: 20%;
    box-sizing: border-box;
}